<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <style><%= Rails.application.assets["pdf.css"].to_s %></style>
  <title></title>
</head>
<body>
レシート本文
<h1 class="pdf_h1"><%= @user.name %></h1>
<p>test sentence</p>
</body>
</html>